*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background-color: black;
	color:#fff;
}

nav ul{
	list-style: none;
}
nav ul li{
	padding: 10px;
	display: inline-block;
	cursor: pointer;
}

.all{
	color: #fff;
}

.type1f{ color:#FF8000; }
.type2f{ color:#5A009D; }
.type3f{ color:#00FF00; }
.type4f{ color:#FFFF00; }

.block-cover{
	display: flex;
	flex-wrap: wrap;
}

.box {
	border-radius: 4px;
	min-height: 140px;
	width:200px;
	padding: 0 10px;
	margin: 5px;
}

.type1{ border: 1px solid #FF8000; }
.type2{ border: 1px solid #5A009D; }
.type3{ border: 1px solid #00FF00; }
.type4{ border: 1px solid #FFFF00; }

.hide{
	display: none;
}